.Table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: cornflowerblue;
    
}
.Table .TableElements {
    font-size: 1.5rem;
}
.Table td, th {
    border: 1px solid cornflowerblue;
    padding: 10px;
    
}

.Table .Btn {
    width: 5vh;
    height: 5vh;

    background-color: cornflowerblue;
    color: #FFF;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px #0000003d;
    cursor: pointer;
    margin: 5px;

}

